/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  /*
        Purple: hsl(250, 66%, 75%)
        Blue: hsl(207, 90%, 72%)
        Pink: hsl(356, 66%, 75%)
        Teal: hsl(174, 63%, 62%)
  */
  --first-hue: 250;
  --sat: 66%;
  --lig: 75%;
  --second-hue: 219;
  --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
  --first-color-alt: hsl(var(--first-hue), var(--sat), 71%); /* -4% */
  --title-color: hsl(var(--second-hue), 15%, 95%);
  --text-color: hsl(var(--second-hue), 8%, 75%);
  --text-color-light: hsl(var(--second-hue), 4%, 55%);
  --body-color: hsl(var(--second-hue), 48%, 8%);
  --container-color: hsl(var(--second-hue), 32%, 12%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --biggest-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;
  --tiny-font-size: .625rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semibold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  transition: .4s; /* for light mode animation */
}

/* h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
} */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/


/*========== Variables Dark theme ==========*/


/*========== 
    Color changes in some parts of 
    the website, in light theme
==========*/


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.25rem;
}

.main {
  overflow: hidden;
}

.section {
  padding: 4.5rem 0 1rem;
}

.section__title, 
.section__subtitle {
  text-align: center;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
}

.section__subtitle {
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
}

/*=============== HEADER & NAV===============*/


.header {

  width: 100%;
  height: 85px;
  background: #f1f1f1;
  color: black;

}

.section1{

  width: 30%;
  height: 85px;
  float: left;
  display: grid;
  place-items: center;

}

.section2{

  width: 45%;
  height: 85px;
  float: right;
  display: grid;
  place-items: center;

}

.logo{

  width: 300px;
  height: 50px;

}

.image{

  width: 30%;
  height: 50px;
  float: left;

}

.image img{

  margin-left: 20px;

}

.red{

  color: #ff1b1b;

}

.text{

  width: 70%;
  height: 50px;
  float: left;
  display: flex;
  align-items: center;
  letter-spacing: 1px;
  font-size: 22px;

}

/* .menubar{

  width: 100%;

} */

.menu{

  list-style-type: none;
  overflow: hidden;
  font-size: 15px;

}

.menu li{

  float: left;
  padding: 0px 15px;

}

.menu li:hover{

  color: #ff1b1b;
  cursor: pointer;

}

/* Active link */


/* Change background header */

/*=============== HEADER & NAV===============*/


/*=============== HOME ===============*/

.home_section{

  width: 100%;
  height: 562px;
  /* background: url("papre_wrap.jpg"); */
  background: white;
  color: black;

}

.left{

  width: 55%;
  height: 562px;
  float: left;
  display: grid;
  place-items: center;

}

.right{

  width: 45%;
  height: 562px;
  float: left;
  display: grid;
  place-items: center;

}

.leftdiv{

  width: 80%;
  height: 80%;

}

.btn{

  width: 100%;
  height: 35px;

}

.rightdiv{

  width: 80%;
  height: 80%;

}

.leftdiv h2{

  font-size: 40px;
  margin-top: 125px;

}

.leftdiv button{

  width: 150px;
  padding: 5px 0px;
  background: transparent;
  letter-spacing: 1px;
  border: solid 2px;

}

.btn button:hover{

  cursor: pointer;

}

.vrc-logo{

  width: 100%;
  height: 80%;

}

.vrc-text{

  width: 100%;
  height: 20%;
  margin-top: -100px;
  font-size: 21px;
  letter-spacing: 1px;

}

.vrc-text h2{

  text-align: center;

}

.vrc-text p{

  font-size: 10px;
  text-align: center;

}

/*=============== BUTTONS ===============*/


/*=============== ABOUT ===============*/


/*=============== SKILLS ===============*/


/*=============== SERVICES ===============*/


/* Services modal */


/*Active modal*/


/*=============== WORK ===============*/


/* Active item work*/


/*=============== TESTIMONIAL ===============*/


/* Swiper class */


/*=============== CONTACT ===============*/


/*=============== FOOTER ===============*/


/*=============== SCROLL BAR ===============*/


/*=============== BREAKPOINTS ===============*/
/* For small devices */


/* For medium devices */


/* For large devices */
